<h1>Stupid Coaching</h1>

<div class="question">
  <h3><%= @question %></h3>
  <p>- <em>You</em></p>
</div>

<div class="question answer">
  <h3><%= @answer %></h3>
  <p>- <em>Your Coach</em></p>
</div>

<div class="back">
  <%= link_to "Ask a new question", ask_path %>
</div>
